---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Spalsh from "../components/Spalsh.astro";
import FysioterapeutSektion from "../components/FysioterapeutSektion.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <link
      rel="stylesheet"
      href="https://use.typekit.net/lhr7bio.css"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <meta
      name="description"
      content="Kom igang med træningen i dag og træn i alle vores centre"
    />
    <title>FormFysik v2</title>
  </head>
  <body class="body-bg">
    <Header />
    <Spalsh
      component={true}
      illustration={false}
      illustrationbillede="/img/splash_landing.svg"
      titel="Mød Teamet"
      undertitel=""
      breadtext="Lad os hjælpe dig med en mere effektiv træning. Vi er et dynamisk team, som er specialister i at undersøge og behandle ryg- og nakkeproblemer samt genoptræning af idrætsskader. Vi er her for at hjælpe dig - professionelt og med et fagligt højt niveau."
      sekdestination="/holdbooking"
      sekbtn={true}
      sektext="Se fysioterapeuter"
      terdestination="/omos/#fysioterapeuter"
      terbtn={false}
      tertext="Deltag"
    />

    <FysioterapeutSektion />

    <Footer />
  </body>
</html>
