---
import "../styles/global.css";
import Secondarybtn from "./Secondarybtn.astro";
const {
  fordel1,
  fordel2,
  fordel3,
  fordel4,
  fordel5,
  fordel6,
  punkt1,
  punkt2,
  punkt3,
  punkt4,
  punkt5,
  punkt6,
  knaptext,
} = Astro.props;
---

<ul>
  {
    punkt1 == true && (
      <li>
        <img
          src="public/img/check-circle.svg"
          alt=""
        />
        {fordel1}
      </li>
    )
  }
  {
    punkt2 == true && (
      <li>
        <img
          src="public/img/check-circle.svg"
          alt=""
        />
        {fordel2}
      </li>
    )
  }
  {
    punkt3 == true && (
      <li>
        <img
          src="public/img/check-circle.svg"
          alt=""
        />
        {fordel3}
      </li>
    )
  }
  {
    punkt4 == true && (
      <li>
        <img
          src="public/img/check-circle.svg"
          alt=""
        />
        {fordel4}
      </li>
    )
  }
  {
    punkt5 == true && (
      <li>
        <img
          src="public/img/check-circle.svg"
          alt=""
        />
        {fordel5}
      </li>
    )
  }
  {
    punkt6 == true && (
      <li>
        <img
          src="public/img/check-circle.svg"
          alt=""
        />
        {fordel6}
      </li>
    )
  }

  <div class="btn">
    <a href="/kob"
      ><Secondarybtn
        content={knaptext}
      />
    </a>
  </div>
</ul>

<style>
  li {
    display: flex;
    word-break: break-word;
    gap: 1rem;
    place-items: baseline;
  }

  ul {
    display: grid;

    display: grid;
    gap: 1rem;
    padding-bottom: 2rem;
    background-color: var(--primary);
    border-radius: 0px 0px 10px 10px;
    margin: 0;
    color: var(--secondary);
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  img {
    max-width: 1rem;
  }
  /* STYLING */
  .btn {
    display: flex;
    place-content: center;
    padding-top: 2rem;
  }

  @media (min-width: 850px) {
    ul {
      place-content: center;
      margin-bottom: 2rem;
      max-width: 20rem;
    }
  }
</style>
