---
import "../styles/global.css";
import Secondarybtn from "./Secondarybtn.astro";

const {
  titel,
  info1,
  info2,
  info3,
  beskrivelse,
  knap,
  knaptekst,
} = Astro.props;
---

<section>
  <div class="content">
    <h2>{titel}</h2>
    <ul class="bread-bold">
      <li>{info1}</li>
      <li>{info2}</li>
      <li>{info3}</li>
    </ul>

    <div class="img_mobile">
      <img
        src="/img/placeholder.webp"
        alt="billede af hold"
      />
    </div>
    <p class="knap bread">
      {beskrivelse}
    </p>
    {
      knap == true && (
        <Secondarybtn
          content={knaptekst}
        />
      )
    }
  </div>
  <div class="img_wrapper">
    <img
      src="/img/placeholder.webp"
      alt=""
    />
  </div>
</section>

<style>
  section {
    margin-top: 10rem;
    margin-bottom: 5rem;
    display: flex;
    gap: 10rem;
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .img_wrapper {
    overflow: hidden;
    border-radius: 10px;
  }
  .img_mobile {
    display: none;
  }

  img {
    object-fit: contain;
    height: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 30rem;
  }
  h2 {
    margin: 0;
  }
  p {
    margin: 0;
    color: var(--secondary);
  }

  li {
    margin: 0;
    color: var(--secondary);
  }
  @media (max-width: 991px) {
    section {
    }

    .img_mobile {
      display: initial;
      overflow: hidden;
      border-radius: 10px;
    }

    .img_wrapper {
      display: none;
    }
  }
</style>
